<section class="faq-accordion-section">
    <div class="container">

        <mat-accordion >
            <mat-expansion-panel>
        <mat-expansion-panel-header style="background-color:#dfdfa7">
          
            <mat-panel-description >
            1. What is driEV.bike?
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
            driEV is an electric scooter rental platform that provides flexible and affordable rental plans to fit the needs of all users. Through our eco-friendly electric rides, we work towards providing safer rides and a greener tomorrow.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header style="background-color: #dfdfa7">
            
            <mat-panel-description>
                2. Which cities does driEV serve?
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
            Currently, we are serving in Bhubaneswar and Cuttack.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header style="background-color: #dfdfa7">
          
          <mat-panel-description>
            3. How many people can travel in driEV bike at a time?
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
            Our bikes are built in such a way that two people can commute comfortably at a time.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
          <mat-expansion-panel-header style="background-color: #dfdfa7">
            
          <mat-panel-description>
              4.  Can I ride long-distance trips with driEV bike?
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
            The bike is yours once you get it delivered. As you will be provided with the charger at the time of bike delivery, you can stop by the nearest charging outlet to charge your bike during longer trips.
        </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header style="background-color: #dfdfa7">
          
          <mat-panel-description>
            5. How do I charge my electric bike?
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
            All the bikes are powered by portable lithium ion batteries. That doesn't mean that every time you have to carry the battery inside your house to juice it up. If there is an electric point in your garage then the battery can be charged by simply plugging in the other end of the charger in the onboard terminal socket available in all our bikes. Our support team will provide a thorough demonstration during the delivery.
        </p>
    </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header style="background-color: #dfdfa7">
            
          <mat-panel-description>
              6. Do you provide helmets with the bike?
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
            No, we don’t provide helmets with the bike.
        </p>
      </mat-expansion-panel>
  
    </mat-accordion>
   </div>
  </section>