.faq-accordion-section {
    max-width: 800px;
    padding-top: 50px;
    margin: 0 auto;
  }
  
  mat-expansion-panel {
    margin-bottom: 20px;
  }
  
  mat-expansion-panel-description {
    display: none;
  }
  
  mat-expansion-panel.mat-expanded mat-expansion-panel-description {
    display: block;
  }