<section class="about-section">
    <div class="container">
      <h1 style="color: #14a750">About Us</h1>
      <p>
        We are a group of seasoned professionals united by the common vision of revolutionising micro-mobility through introducing sustainable models that are accessible, affordable and shareable for all. At driEV, we work towards achieving 3 SDG's - Affordable and Clean Energy (SDG 7), Sustainable Cities and Communities (SDG 11) and Climate Action(SDG 13). By addressing the needs of the public through a scalable, green and future-proof model, we hope we are doing our best to combat climate change and global warming and preserve our resources for tomorrow. <br> <br>

        When every fuel-based bike that we ride adds to the carbon footprints and stays accountable for global warming, we are giving you an OPTION to choose between - Green Future and No Future.
      </p>
    </div>
  </section>
  
  <section class="about-section">
    <div class="container">
      <h1 style="color: #14a750">Our Team</h1>
      <p>
        With the one dream of creating a positive social impact, we are working towards bringing in cleaner modes of mobility with our long-term bike rental plans that suits all. Here is the team behind this tech-enabled fleet of electric bike rentals.
      </p>

      <p>image here*</p>
    </div>
  </section>